.about {
  line-height: 1.6;

  &__background {
    max-width: $maxWidthContainer + 160px;
    margin: 0 auto;
    background: $bgLightColor;
    border-radius: 0 0 rem(24) rem(24);
  }
}
.block-about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
  }

  &__content {
    max-width: rem(456);

    @media (max-width: $tablet) {
      margin: 0 auto;
      max-width: rem(700);
    }
  }

  &__body {
    padding-bottom: rem(49);
    @media (max-width: $mobile) {
      text-align: center;
    }

    & > * {
      position: relative;
      bottom: rem(-60);
      opacity: 0;

      transition:
        opacity 0.3s ease 0s,
        bottom 0.3s ease 0s;
      .loaded & {
        bottom: rem(0);
        opacity: 1;
      }
    }
  }

  &__title {
    transition-delay: 0.3s;
    font-weight: 700;
    &:not(:last-child) {
      @include adaptiveValue("padding-bottom", 34, 24);
    }
  }

  &__text {
    transition-delay: 0.6s;
    color: $secondaryColor;
    &:not(:last-child) {
      @include adaptiveValue("padding-bottom", 40, 24);
    }
  }

  &__form {
    transition-delay: 0.9s;
    &:not(:last-child) {
      padding-bottom: rem(48);
      @include adaptiveValue("padding-bottom", 48, 24);
    }
  }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__input {
    height: rem(53);
    width: calc(100% - rem(177));
    border-radius: rem(12) 0 0 rem(12);
    border: 1px solid $strokeColor;
    outline: none;
    padding: rem(13) rem(19);
    @media (max-width: $mobile) {
      width: 100%;
      border-radius: rem(12);
      margin-bottom: rem(16);
    }

    &._form-focus {
      border-color: $blueColor;
      border-width: rem(2);
    }
  }

  &__button {
    padding: rem(14) rem(32);
    border-radius: rem(12);
    line-height: 1.6;
    background: $blueColor;
    color: #fff;
    font-size: rem(18);
    font-weight: 700;
    transform: translateX(rem(-10));
    transition:
      transform 0.3s ease 0s,
      background 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background: $blueHoverColor;
        transform: translateX(rem(-2));
      }
    }
    @media (max-width: $mobile) {
      width: 100%;
      transform: translateX(0);
    }
  }

  &__img {
    position: relative;
    max-width: rem(552);
    height: rem(623);
    right: -100%;
    opacity: 0;

    transition:
      opacity 0.6s ease 0s,
      right 0.6s ease 0s;

    .loaded & {
      right: 0;
      opacity: 1;
    }

    @media (max-width: $tablet) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../img/about/main.svg") center no-repeat;
    }
  }
}

.comment-about {
  display: flex;
  column-gap: rem(24);
  position: relative;
  bottom: rem(-60);
  opacity: 0;

  transition: opacity 0.3s ease 0s;
  .loaded & {
    bottom: rem(0);
    opacity: 1;
  }
  transition-delay: 1.2s;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    @media (max-width: $mobile) {
      margin-bottom: rem(24);
    }
  }

  &__body {
    max-width: rem(332);
  }

  &__row {
    width: rem(132);
    height: rem(24);
    background: url("../img/about/star.svg") center / contain repeat-x;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }

    @media (max-width: $mobile) {
      margin: 0 auto;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__contacts {
    span {
      &:first-child {
        margin-right: rem(16);
        color: $secondaryColor;
      }
      &:last-child {
        color: $blueColor;
        @include hover-border;
      }
    }

    img {
      margin-right: rem(8);
    }
  }
}

//========================================================================================================================================================
.features {
  &__container {
    counter-reset: feature-counter;
  }
}
.block-features {
  @include adaptiveValue("margin-top", 100, 80);
  display: flex;
  justify-content: space-between;
  gap: rem(20);

  &._row {
    flex-direction: row-reverse;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__count {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: $blueColor;
    align-self: flex-start;
  }

  &__info {
    max-width: rem(456);
    @media (max-width: $mobile) {
      padding-left: rem(35);
    }

    &._row {
      padding-left: rem(65);
      @media (max-width: $mobile) {
        padding-left: rem(35);
      }
    }
  }

  &__title {
    position: relative;
    font-weight: 800;
    &:not(:last-child) {
      @include adaptiveValue("padding-bottom", 32, 16);
    }

    &::before {
      content: counter(feature-counter);
      counter-increment: feature-counter;
      position: absolute;
      top: rem(0);
      @include adaptiveValue("left", -70, -30);
      @include adaptiveValue("font-size", 64, 32);
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      color: $blueColor;

      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }
  }

  &__text {
    font-size: rem(18);
    p {
      &:not(:last-child) {
        @include adaptiveValue("padding-bottom", 24, 16);
      }
    }
  }
}
//========================================================================================================================================================
.about {
  &__background {
    &._meta {
      border-radius: rem(24);
    }
    @media (max-width: $mobile) {
      border-radius: rem(0);
    }
  }
}

.meta-block {
  @include adaptiveValue("margin-top", 111, 48);
  @include adaptiveValue("margin-bottom", 111, 48);
  @include adaptiveValue("padding-top", 80, 48);
  @include adaptiveValue("padding-bottom", 80, 48);
  display: flex;
  justify-content: space-between;
  column-gap: rem(18);
  @media (max-width: $mobile) {
    flex-direction: column;
  }

  &__title {
    @include adaptiveValue("font-size", 40, 24);

    font-weight: 700;
    flex-basis: 32%;

    padding-bottom: rem(24);
  }

  &__text {
    flex-basis: 68%;
    @include adaptiveValue("font-size", 18, 16);
    p {
      &:not(:last-child) {
        padding-bottom: rem(24);
      }
    }
  }
}
