// Заголовки, общие БЄМ блоки и проче...

$blackColor: #202227;
$blackSecondColor: #4d5156;
$blueColor: #0058e9;
$blueHoverColor: #3b009a;
$secondaryColor: #4d5156;
$greyColor: #9f9f9f;
$greySecondColor: #7a8ea0;
$strokeColor: #d3dce9;
$bgColor: #eaf2fa;
$bgLightColor: #f4f4fc;
$bgLightColorHover: #fbfbfb;
$callToActionColor: #00da49;
$btnActive: #611cd2;
$errorColor: #ff3868;

$child-count: 1;
