//====================================================================================================
.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px rem(4) rem(12) 0px rgba(0, 0, 0, 0.1);
  z-index: 40;
  &__container {
    &.hide-head {
      height: 40px;
      padding-top: rem(10);
      padding-bottom: rem(10);
    }
  }
}

.top-head {
  display: grid;
  column-gap: rem(12);
  grid-template-columns: rem(197) 1fr minmax(rem(40), rem(183)) rem(94);
  padding: rem(16) 0;
  transition:
    transform 0.3s,
    height 0.3s;

  &.hide-head {
    transform: translateY(-50%);
  }

  @media (max-width: $pc) {
    grid-template-columns: rem(197) 1fr rem(100) rem(58);
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr rem(100) rem(38);
    grid-template-rows: 1fr 1fr;
    padding: rem(2) 0;
  }

  button {
    font-size: rem(16);
    font-weight: 800;
    line-height: 1.6;
    color: $blueColor;
  }

  &__logo {
    align-self: center;
    svg {
      @media (max-width: $mobile) {
        width: rem(122);
      }
    }
  }
  &__form {
    position: relative;
    border: rem(2) solid $blueColor;
    border-radius: rem(12);
    overflow: hidden;
    align-self: center;
    height: rem(48);
    display: grid;
    grid-template-columns: rem(50) 1fr;

    svg {
      align-self: center;
      justify-self: center;
    }

    input {
      width: 100%;
      outline: none;

      &::placeholder {
        transition: all 0.3s ease;
      }

      &:focus {
        &::placeholder {
          opacity: 0;
          transform: translateX(5%);
        }
      }

      &::placeholder {
        color: $greyColor;
        line-height: 100%;
      }
    }
    @media (max-width: $mobile) {
      order: 4;
      grid-column: span 3;
      height: rem(40);
      margin-bottom: rem(12);
    }
  }

  &__audio {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: rem(19);

    &:hover {
      background: $bgColor;
    }
  }

  &__see {
    display: block;
    background: $bgLightColor;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $blueColor;
    border-radius: rem(12);
    padding: rem(11) rem(17);
    transition: background 0.3s ease 0s;

    &:hover {
      background: $bgColor;
    }

    @media (max-width: $pc) {
      display: none;
    }
  }

  &__buttons {
    overflow: hidden;
    align-self: center;
    position: relative;
    z-index: 99;
  }

  &__burger {
    display: none;
    padding: rem(14);
    background: $bgLightColor;
    border-radius: rem(12);

    transition: background 0.3s ease 0s;
    align-self: center;
    position: relative;
    z-index: 99;

    &:hover {
      background: $bgColor;
    }

    @media (max-width: $pc) {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 58px;
    }

    @media (max-width: $mobile) {
      width: 42px;
      height: 42px;
      padding: rem(8);
      border-radius: rem(8);
    }
  }
}

.lang {
  display: flex;
  &__group {
    width: rem(45);
    height: rem(45);

    position: relative;
    text-align: center;

    font-size: rem(16);
    font-weight: 800;
    line-height: rem(45);
    background-color: $bgLightColor;
    transition: background-color 0.3s ease 0s;

    &:hover {
      background-color: $bgColor;

      input[type="radio"] + label {
        color: $blueColor;
      }
    }

    &:first-child {
      border-radius: rem(12) 0 0 rem(12);

      @media (max-width: $mobile) {
        border-radius: rem(8) 0 0 rem(8);
      }
    }

    &:last-child {
      border-radius: 0 rem(12) rem(12) 0;

      @media (max-width: $mobile) {
        border-radius: 0 rem(8) rem(8) 0;
      }
    }

    &._ukr {
      position: relative;
      width: rem(52);
      text-align: right;

      label {
        padding-right: rem(4);
        padding-left: rem(4);
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 7%;
        width: rem(16);
        height: rem(10);
        transform: translateY(-50%);
        background: url("../img/header/uk-flag.svg") center no-repeat;

        @media (max-width: $mobile) {
          left: 14%;
        }
      }
    }

    @media (max-width: $mobile) {
      font-size: rem(14);
      width: rem(42);
      height: rem(42);
    }
  }
  &__group input[type="radio"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    z-index: 1;
    cursor: pointer;
  }
  &__group input[type="radio"] + label {
    color: $blueColor;
    transition: color 0.3s ease 0s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__group input[type="radio"]:checked + label {
    color: $blueHoverColor;
  }
}

.menu-head {
  display: block;
  @media (max-width: $pc) {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(12);
    padding-top: rem(8);

    font-size: rem(18);
    font-weight: 500;
    line-height: 1.6;

    li {
      position: relative;
      padding-bottom: rem(16);
      transition: color 0.3s ease 0s;
      font-weight: 700;

      @include hover-border;

      @media (any-hover: hover) {
        &:hover {
          color: $blueColor;
        }
      }

      &.ac-link {
        color: $blueHoverColor;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: rem(2);
          background: $blueHoverColor;
        }
      }
    }
  }
}

.menu-drop {
  position: absolute;
  right: -100%;
  top: 0;
  background: #fff;
  width: rem(400);
  height: 100vh;
  transition: right 0.3s ease 0s;

  @media (max-width: $mobile) {
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

  &__wrapper {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  }

  &__logo {
    width: rem(125);
    padding-top: rem(24);
    padding-bottom: rem(22);
    transform: translateX(rem(32));
    opacity: 0;
    transition: opacity 0.6s ease 0.8s;

    @media (max-width: $mobile) {
      padding-top: rem(11);
      padding-bottom: rem(11);
      transform: translateX(rem(15));
    }

    .menu-open & {
      opacity: 1;
    }
  }

  &__list {
    width: rem(290);
    padding-left: rem(32);
    padding-top: rem(6);
    @media (max-width: $mobile) {
      width: 100%;
      padding-right: rem(15);
      padding-left: rem(15);
    }

    li {
      padding: rem(24) 0;
      font-size: rem(18);
      color: $blueColor;
      font-weight: 500;
      line-height: 1.6;
      border-bottom: 1px solid $strokeColor;
      position: relative;
      opacity: 0;
      transition:
        right 0.3s ease 0s,
        opacity 0.3s ease 0s;

      @media (max-width: $mobile) {
        min-width: 100%;
        padding: rem(16) 0;
        font-size: rem(16);
      }

      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        transition-delay: 0.4s;
      }
      &:nth-child(5) {
        transition-delay: 0.5s;
      }
      &:nth-child(6) {
        transition-delay: 0.6s;
      }
      &:nth-child(7) {
        transition-delay: 0.7s;
      }

      .menu-open & {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  &__see {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: rem(16);
    padding-left: rem(32);
    padding-top: rem(24);
    position: relative;

    opacity: 0;
    transition:
      right 0.9s ease 0s,
      opacity 1s ease 0s;
    transition-delay: 0.8s;

    @media (max-width: $mobile) {
      min-width: 100%;
      padding: rem(16) rem(15);
      font-size: rem(16);
    }

    .menu-open & {
      bottom: 0;
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -100vw;
    top: 0;
    width: 100vw;
    height: 100%;
    background: #2259b433;
    opacity: 0;
    display: none;
  }

  .menu-open & {
    right: 0;
    z-index: 2;

    &::before {
      opacity: 1;
      display: block;
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: $pc) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }

  @media (max-width: $mobile) {
    width: rem(22);
    height: rem(18);
  }
}
